.header__button{
    width: 200px;
    height: 100px;
    margin: 20px;
    background-color: #000;
    border: #7a0500 7px solid;
    border-radius: 20px;
    color: rgb(183, 183, 183);
    font-size: 26px;
    cursor: progress;
}

.header__button:hover{
    background-color: #222222;
    border-color: #a70500;
}

.header__button:active{
    background-color: #a70500;
    border-color: #222222;
}

.header__button__active{
    color: white;
    font-weight: bold;
}