.content__element{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border: #7a0500 solid;
    border-width: 1px 0;
    font-family: "Berlin Sans FB";
    font-size: 20px;
}

.content__element input{
    border: none;
    background-color: transparent;
    pointer-events: none;
}

.content__element__editing input:disabled{
    border: none;
    background-color: transparent;
    pointer-events: none;
}

.content__element__editing input {
    border: 1px solid black;
    background-color: #fff;
    pointer-events: auto;
}

.content__cell{
    width: 150px;
}

.content__cell input{
    width: 150px;
}

.content__button{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    font-weight: bold;
}

.content__actionButtons{
    width: 70px;
}